version: '3'

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    tty: true
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./conf.d/nginx.conf:/etc/nginx/conf.d/nginx.conf
      - ./vhost.d/local:/etc/nginx/vhost.d:rw
      - ./certs:/etc/nginx/certs
      - /usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
    networks:
      - net_global

networks:
  net_global:
    driver: bridge
